.discord {
    background-color: #7289d9; 
}

.twitter {
    background-color: #1da1f2; 
}

.youtube {
    background-color: #ff0000; 
}

.email {
    background-color: #3cba54; 
}

.telegram {
    background-color: #20A0E1;
}

.osu {
    background-color: #E5629C;
}