body {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #222;
    background: #191919;
}

html {
    font-size: 62.5%; 
}

h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem; 
}

a, html, body, h1, h2, h3, h4, p {
    color: #fff;
    font-weight: normal;
    margin: 0; 
}

a {
    text-decoration: none; 
}

.bg-skeet {
  background-image: linear-gradient(to right, rgba(55, 177, 218, .35), rgba(201, 72, 205, .35), rgba(204, 146, 131, .35), rgba(204, 226, 54, .35));
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
<<<<<<< HEAD
=======
  filter: brightness(50%);
  height: 100%;
  width: 100%; }

.bg-skeet {
  background-image: linear-gradient(to right, #37b1da , #c948cd , #cc9283, #cce236);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
>>>>>>> 1cd1c5b30c6de071a7bc66f8744db24424fd1598
  height: 100%;
  width: 100%; 
}

.center-object {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
}
.center-object .me {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    z-index: 10; 
}
.center-object .me .image-title {
    border-radius: 100%;
    width: 9em; 
}

.center-object .me .title {
    filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.4));
    font-size: 5rem;
    letter-spacing: 1px;
    margin: .25em; 
}

.buttons a {
    border: 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 1.1em;
    height: 36px;
    line-height: 36px;
    margin: .25em;
    padding: 0 2rem;
    vertical-align: middle;
}

.discord {
    background-color: #7289da; 
}

.twitter {
    background-color: #1da1f2; 
}

.youtube {
    background-color: #c4302b; 
}

.email {
    background-color: #3cba54; 
}

.telegram {
    background-color: #20A0E1;
}

<<<<<<< HEAD
::-webkit-scrollbar {
    width: 2.5px;
}

::-webkit-scrollbar-track {
    background: #191919;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
=======
.arrow {
  height: 40px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  width: 40px; 
}

.background-main {
  background: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px) brightness(50%);
  height: 100%;
  width: 100%; }
>>>>>>> 1cd1c5b30c6de071a7bc66f8744db24424fd1598
