body {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto";
    color: #222;
    background: #191919;
}

html {
    font-size: 62.5%; 
}

h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem; 
}

a, html, body, h1, h2, h3, h4, p {
    color: #fff;
    font-weight: normal;
    margin: 0; 
}

a {
    text-decoration: none; 
}

#video {
    position: fixed;
    top: -5%;
    left: 0;
    z-index: -1000;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.center-object {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
}

.center-object .me {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    z-index: 10; 
}

.center-object .me .image-title {
    border-radius: 100%;
    width: 9em; 
}

.center-object .me .title {
    filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.4));
    font-size: 5rem;
    letter-spacing: 1px;
    margin: .25em; 
}

.buttons a {
    border: 0;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 1.1em;
    height: 36px;
    line-height: 36px;
    margin: .25em;
    padding: 0 2rem;
    vertical-align: middle;
}

.discord {
    background-color: #7289da; 
}

.twitter {
    background-color: #1da1f2; 
}

.youtube {
    background-color: #c4302b; 
}

.email {
    background-color: #3cba54; 
}

.telegram {
    background-color: #20A0E1;
}

.osu {
    background-color: #E5629C;
}

.bg {
    position: absolute;
    background-color: rgba(1, 1, 1, 0.65);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}