h1
{	
	vertical-align: top;
	color: #ffffff; 	
	font-family: "Arial";
	text-decoration: none; 
	background-color: none; 
	
}
textarea 
{
    resize: none;
}
#li1
{
	
	float: left;
}
#li2
{
	float: right;
}
#li3
{
	display:inline-block;
	vertical-align:top;
}
#li4
{
	display:inline-block;
	vertical-align:top;
}
.a {
	text-decoration: none; 
	background-color: none; 
	color: #ffffff;
}
